<h1>以下の内容で、送信する。</h3>


<div class="message_content">
  
<%= form_with(model: @message, url: messages_path, local: true) do |form| %>
  <%= form.hidden_field :content %>

  <p>内容:<%= @message.content %></p>
  <%= form.submit "登録する", :class => "square_btn" %>
<% end %>

<%= form_with(model: @message, url: new_message_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :content %>
  <%= form.submit "もどる" ,:class => "square_btn", name: 'back' %>
<% end %>

</div>